<p id="notice"><%= notice %></p>

<h1>Shelters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shelters.each do |shelter| %>
      <tr>
        <td><%=link_to "#{shelter.name}", shelter %></td>
        <td><%= link_to "#{shelter.phone_number}", shelter %></td>
        <td><%= link_to 'Edit', edit_shelter_path(shelter) %></td>
        <td><%= link_to 'Destroy', shelter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shelter', new_shelter_path %>
