<div class="jumbotron">
  <div class="container" style="height: 200px;">
    <br>
      <h1><%= "#{@user.first_name }"%>'s Dashboard</h1>
    </div>
  </div>
<div class="container">


<div class="info">
 <h3> My Info </h3>
  <ul>
    <li>Name: <%= @user.first_name + " " + @user.last_name  %></li>
    <li>Phone: <%= @user.phone_number %></li>
    <li>Email: <%= @user.email %></li>
  </ul>
</div>
  <%= link_to "Edit my Profile", edit_user_registration_path%>

  <div class="bookmark">
<h3>Bookmarks</h3>
  </div>

</div>
