<div class="container">
  <section>
    <%= form_tag new_user_session_path do %>
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag 'Login' %>
    <% end %>
  </section>

</div>
